body {
  font-family: "Verdana";
}
.header {
  margin: -8px auto;
  padding: 8px;
  width: 800px;
  height: 32px;
  background: linear-gradient(#AA88FF, #7660B2);
  line-height: 32px;
  color: #FFFFFF;
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
}

.header>a {
  color: #FFFFFF;
}

.container {
  margin: 8px auto;
  width: 800px;
  min-height: 800px;
}

a { 
  text-decoration: none; 
  color: #AA88FF;
}
a:hover { 
  text-decoration: underline;
} 
