body {
  font-family: "Verdana";
}
.header {
  margin: 8px auto;
  padding: 8px;
  width: 800px;
  height: 32px;
  background-color: #AA88FF;
  line-height: 32px;
  color: #FFFFFF;
}

.header>a {
  color: #FFFFFF;
}

.container {
  margin: 8px auto;
  width: 800px;
  min-height: 800px;
}

a { 
  text-decoration: none; 
  color: #AA88FF;
}
a:hover { 
  text-decoration: underline;
} 
